/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [SandwichShop]    Script Date: 23/08/2017 16:47:24 ******/
CREATE DATABASE [SandwichShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SandwichShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TESTSERVER\MSSQL\DATA\SandwichShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SandwichShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TESTSERVER\MSSQL\DATA\SandwichShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SandwichShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SandwichShop]
GO
USE [SandwichShop]
GO
/****** Object:  Table [dbo].[Sandwich]    Script Date: 23/08/2017 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sandwich](
	[ID] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Details] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
